@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --green: #a0c49d;
  --light-green: #c4d7b2;
  --light-green2: #e1ecc8;
  --light-green3: #f7ffe5;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;
  font-family: "Kanit", sans-serif;
}

.kqHfbO {
  border-radius: 10px 10px 0 0;
}

.isdzTY {
  border-radius: 0 0 10px 10px;
}

.ggomLY {
  font-size: 14px;
}
